7sem/кросплатформ/lab4/task1/MagicBallServiceClient/MagicBallServiceClient/Service References/ServiceReference1/MagicBallService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/Imports">
      <xsd:import schemaLocation="http://localhost:8080/MagicBallService?xsd=xsd0" namespace="http://localhost" />
      <xsd:import schemaLocation="http://localhost:8080/MagicBallService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/MagicBallService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MagicBallServiceLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMagicBall_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IMagicBall_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMagicBall_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IMagicBall_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IMagicBall_ObtainAnswerToQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtainAnswerToQuestion" />
  </wsdl:message>
  <wsdl:message name="IMagicBall_ObtainAnswerToQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtainAnswerToQuestionResponse" />
  </wsdl:message>
  <wsdl:portType name="IMagicBall">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://localhost/IMagicBall/GetData" message="tns:IMagicBall_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IMagicBall/GetDataResponse" message="tns:IMagicBall_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://localhost/IMagicBall/GetDataUsingDataContract" message="tns:IMagicBall_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IMagicBall/GetDataUsingDataContractResponse" message="tns:IMagicBall_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtainAnswerToQuestion">
      <wsdl:input wsaw:Action="http://localhost/IMagicBall/ObtainAnswerToQuestion" message="tns:IMagicBall_ObtainAnswerToQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IMagicBall/ObtainAnswerToQuestionResponse" message="tns:IMagicBall_ObtainAnswerToQuestion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>